body {  
	        font-family: Arial;
			margin: 0;
			padding: 0;
			background: #e5e5e5;
			}

.searchbox{
	
        position:absolute;
        left:84%;   
        top:1%;
	
        
    }  
	.header h6 {
		margin-left:20px;
	}
   
   form.example input[type="text"]
    {   
	    margin-top:6px;
        background: #fff;
        width:200px;
        height:30px;
        padding: 5px;
        position: relative;
        display:inline-block;
        font-size:10px;
        box-sizing: border-box;
		border-radius: 20px 20px 20px 20px;
		border: 1px solid black;
        
    }
	form.example button {
	
   
     padding: 5px;
     background: black;
     color: white;
     font-size: 10px;
     border: 1px solid black;
     border-radius:100%;
     cursor: pointer;
	}
	
	
#navbar{
	padding:15px;
	background:pink;
	
}
  ul {
  margin-top:-50px;
  list-style-type: none;
  margin-bottom:2%;
  margin-left:75%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius:20px 20px 20px 20px;
}

li {
  float: left;
}

li a {
	
  display: block;
  color: pink;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
 
.home {
	color:white;
}

#maindiv1 {
            width: 100%;
	        margin:2px;
}
#divleft {
	
	        margin-left:10px;
            width:610px;
			height:360px;
            float: left;
			background:black;
			border:2px solid white;
			
        }

























